<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CLangsubmit</servlet-name>
        <servlet-class>CLangsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Htmlsubmit</servlet-name>
        <servlet-class>Htmlsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Javasubmit</servlet-name>
        <servlet-class>Javasubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pythonsubmit</servlet-name>
        <servlet-class>Pythonsubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reactsubmit</servlet-name>
        <servlet-class>Reactsubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CLangsubmit</servlet-name>
        <url-pattern>/CLangsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Htmlsubmit</servlet-name>
        <url-pattern>/Htmlsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Javasubmit</servlet-name>
        <url-pattern>/Javasubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pythonsubmit</servlet-name>
        <url-pattern>/Pythonsubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reactsubmit</servlet-name>
        <url-pattern>/Reactsubmit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
